@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
  font-size: 1em;
}

@import url("https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Sarina&display=swap");

:root {
  --font01: verdana, Geneva, Tahoma, sans-serif;
  --font02: "Passion One", cursive;
  --font-header: "Sarina", sans-serif;
}

html,
body {
  background-color: darkgray;
  min-height: 100vh;
  font-family: var(--font02);
}
header {
  background-image: linear-gradient(55deg, #2c81b3, #016199);
  color: white;

  text-align: center;
}

header > h1 {
  font-size: 2.7rem;
  font-weight: bolder;
  padding-top: 40px;
  font-family: var(--font02);
  
}

header > p {
  font-family: var(--font01);
  font-size: 1.1rem;
  padding-bottom: 40px;
  padding-top: 5px;
}

section {
  padding-bottom: 10vh;
  padding-top: 10vh;
  padding-left: 30px;
  line-height: 2em;
  font-size: 3.5vw;
}

section.normal {
  background-color: white;
  color: black;
}
section.imagem {
  background-color: rgb(51, 51, 51);
  color: white;
  box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
  background-attachment: fixed;
}

section.imagem {
  color: white;
}
section.imagem > p {
  background-color: rgba(0, 0, 0, 0.541);
  display: inline-block;
  padding: 5px;
  text-shadow: 1px 1px 0px black;
}
section#img01 {
  background-image: url("../imagens/img01.jpg");
  background-size: cover;
  background-position: left center;
}
section#img02 {
  background-image: url("../imagens/img02.jpg");
  background-position: right center;
}
footer {
  background-color: orangered;
  text-align: center;
  color: white;
  padding: 10px;
  font-family: var(--font01);
}
